In [2]:
import json
import pandas as pd
import numpy as np
import mysql.connector
import os

In [4]:
players = pd.DataFrame()
lst = []
for i in {2019, 2020, 2021, 2022, 2023, 2024, 2025}:
    path = os.path.join('top 50 player of mjt list', f'nba_top50_players_{i}.csv')
    tmp = pd.read_csv(path)
    tmp['Season'] = i
    lst.append(tmp)
players = pd.concat(lst, axis=0, ignore_index=True)
players

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Trp-Dbl,Awards,Season
0,1,James Harden,29,HOU,PG,78,78,2867,843,1909,...,518,586,158,58,387,244,2818,7,"MVP-2,AS,NBA1",2019
1,2,Paul George,28,OKC,SF,77,77,2841,707,1614,...,628,318,170,34,205,214,2159,1,"MVP-3,DPOY-3,AS,NBA1,DEF1",2019
2,3,Kemba Walker,28,CHO,PG,82,82,2863,731,1684,...,361,484,102,34,211,131,2102,0,"AS,NBA3",2019
3,4,Bradley Beal,25,WAS,SG,82,82,3028,764,1609,...,411,448,121,58,224,226,2099,2,AS,2019
4,5,Damian Lillard,28,POR,PG,80,80,2838,681,1533,...,371,551,88,34,212,148,2067,0,"MVP-6,AS,NBA2",2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,46,Desmond Bane,26,MEM,SG,69,68,2205,493,1018,...,418,369,80,28,169,164,1327,1,NaN,2025
380,47,Evan Mobley,23,CLE,PF,71,71,2167,505,906,...,659,226,61,113,145,141,1316,0,"MVP-10,DPOY-1,AS,NBA2,DEF1",2025
381,48,Norman Powell,31,LAC,SG,60,60,1958,457,945,...,190,125,73,9,108,114,1306,0,NaN,2025
382,49,Miles Bridges,26,CHO,PF,64,64,2029,469,1089,...,481,248,44,45,136,93,1300,1,NaN,2025
383,50,Julius Randle,30,MIN,PF,69,69,2226,455,939,...,487,323,47,16,196,175,1288,0,NaN,2025

In [5]:
# List of players who won the MVP at each season
players[players['Awards'].str.match(r'MVP-1[^\d].*') == True]

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,Trp-Dbl,Awards,Season
6,7,Giannis Antetokounmpo,24,MIL,PF,72,72,2358,721,1247,...,898,424,92,110,268,232,1994,5,"MVP-1,DPOY-2,AS,NBA1,DEF1",2019
57,4,Giannis Antetokounmpo,25,MIL,PF,63,63,1917,685,1238,...,856,354,61,66,230,195,1857,4,"MVP-1,DPOY-1,AS,NBA1,DEF1",2020
108,3,Nikola Jokić,25,DEN,C,72,72,2488,732,1293,...,780,599,95,48,222,192,1898,16,"MVP-1,AS,NBA1",2021
166,5,Nikola Jokić,26,DEN,C,74,74,2476,764,1311,...,1019,584,109,63,281,191,2004,19,"MVP-1,AS,NBA1",2022
219,2,Joel Embiid,28,PHI,C,66,66,2284,728,1328,...,670,274,66,112,226,205,2183,1,"MVP-1,DPOY-9,CPOY-5,AS,NBA1",2023
280,5,Nikola Jokić,28,DEN,C,79,79,2737,822,1411,...,976,708,108,68,237,194,2085,25,"MVP-1,CPOY-4,AS,NBA1",2024
328,1,Shai Gilgeous-Alexander,26,OKC,PG,76,76,2598,860,1656,...,379,486,131,77,183,164,2484,0,"MVP-1,DPOY-10,CPOY-8,AS,NBA1",2025

In [6]:
# Getting the users data from database_init.json (add it to .gitignore)
with open('database_init.json') as file:
    db_config = json.load(file)

In [ ]:
db_name = "NBA_DB"
try:
    temp_config = db_config.copy()
    cnxn = mysql.connector.connect(**temp_config)
    cursor = cnxn.cursor()
    
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name} CHARACTER SET utf8mb4_unicode_ci")
    print(f"Database '{db_name}' created or already exists.")
    
    cnxn.database = db_name
    
    
except mysql.connector.Error as err:
    print(f"Error!!: {err}")
finally:
    if 'cnxn' in locals() and cnxn.is_connected():
        cursor.close()
        cnxn.close()
        print("Connection Closed.")